version: '3.8'

services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    environment:
      DB_PASSWORD: qwerty123
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: superpassword
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  db_data: